#tweets {
  display: grid;
  grid-gap: 2em;
  padding: 2em 0;
}

.tweet {
  width: 100%;
  border: 4px solid var(--color_5);
  display: grid;
  height: 270px;
  padding: 0 20px;
}

.tweet:hover {
  box-shadow: 10px 10px 0 0 var(--color_1);
}

.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header {
  padding-top: 10px;
}

.tweet footer {
  font-size: 0.75em;
  padding: 0 10px 10px;
}

.user {
  display: flex;
  align-items: center;
  align-content: center;
}

.user p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 20px;
  font-size: 1em;
  color: var(--color_2);
}

.user img {
  width: 80px;
  padding: 10px;
}

.tweet-content {
  border-bottom: 4px solid var(--color_5);
  height: 85px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 0.9em;
  line-height: 1.5em;
  overflow: auto;
  overflow-wrap: break-word;
}

.username {
  color: var(--color_1);
  font-weight: 600;
  padding-right: 10px;
  display: none;
}

.tweet:hover .username {
  display: block;
}

.tweet button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.tweet svg {
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
  fill: var(--color_3);
}

.tweet svg:hover {
  fill: var(--color_2);
}
